<h1>Your recent games:</h1>

<table>
  <tr>
    <th>Game name</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.game_name, game %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
