/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.jqplot-yaxis{
	padding-right: 15px;
	
}

.roll_button_div{
	float: left;
	padding-left: 20px;
}

.roll_button_even{
	border: 1px solid #006;
  background: #9CA5DB; /*BFBFBF*/
	font-size: 15px;
	height: 23px;
	width: 50px;
}

.roll_button_odd{
	border: 1px solid #006;
  background: #9CA5DB;
	font-size: 15px;
	height: 23px;
	width: 50px;
}

.roll_table_cell{
	font-size: 23px;
	height: 23px;
	padding-left: 25px;
}


.legend_cell{
	width:20px; 
	height:20px; 
	border: 1px solid black;
}

.expected{	
	background-color: #43DE4D; 
}

.actual{
	background-color: #F04155;
}

.pagination{
	font-size: 20px;
}



.current{
	font-size: 23px;
	font-weight: bold;
	font-style: normal;
}

/*
table{
	.jqplot-table-legend{
		float: right;
		position: absolute;
	}
}
*/